* {
    margin: 0;
    padding: 0;
}


#main {
    margin: 0.5% 1% 1% 1%;
}

header {
    width: 77%;
    height: 80px;
    border-radius: 20px 20px 20px 20px;
    float: right;
    /*background: linear-gradient(orangered, gold);*/
    margin: 0% 1% 1% 1%;
    box-shadow: 0 0 5px 7px rgb(102, 255, 253);
}

img {
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
}


#first {
    position: absolute;
    width: 98%;
    height: 120%;
    background: radial-gradient(#aafff7, #005ec7);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 5px 7px rgb(102, 255, 253);
}

.header_label {
    box-shadow: 0 0 5px 10px rgb(102, 255, 253);
    width: 20.5%;
    height: 75px;
    text-align: center;
    background: radial-gradient(#aafff7, #005ec7);
    border-radius: 20px 20px 20px 20px;
    margin: 0.5% 1% 1% 1%;
}

.text_header_label {
    font-weight: 700;
    padding: 8%;
}

#first section {
    margin-top: -1%;
}

.text {
    text-indent: 2.2%; /*красная строка*/
}

.text p:first-letter {
    font-size: 150%;
}

h1 {
    text-decoration: underline;
}

h1, p {
    margin: 2% 2% 1% 1%;
}

p {
    font-family: "Segoe Marker", cursive;
    font-size: 17px;
}

div .base_table {
    margin-top: -25px;
    display: inline-block;
}


table {
    border-spacing: 0;
    empty-cells: hide;
    margin-right: 20px;
    margin-left: 20px;
}

caption {
    font-size: 135%;
    color: red;
    font-weight: 700;
}

thead {
    font-size: 115%;
}


td {
    text-align: center;
    padding: 10px 20px;
    border-bottom: 1px solid red;
    transition: all 0.5s linear;
}

tr:hover td {
    background: #503c64;
    font-weight: bold;
    color: white;
}


td:nth-child(2n+3) {
    background: #96fff0;
}


td:nth-child(2n+4) {
    background: #fe7b64;
}


.move_to_next_page {

    position: fixed;
    z-index: 10;
    top: 76%;
    left: 85%;
    background-color: #b6e2e8;
    opacity: 0.9;
    border-radius: 7px;
    height: 9%;
    width: 12%;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.base_video {
    margin-top: 10%;
    margin-left: 5%;
    display: inline-block;
}

.svi {
    width: 450px;
}

.main_content {
    margin-top: -10%;
}
